.cards-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards{
    display: flex;
    align-items: center;
}

.card-1{
    width: 400px;
    height: 250px;
    text-align: left;
    margin: 40px;
    flex-direction: column;
    display: flex;

    background-color: #ff003c22;
    border: 3px solid #ff2f5f;
    border-radius: 20px;
    padding: 10px;
    /* box-shadow: 0px 1px 6px #ff2f5f; */
    font-family: "Vend Sans", sans-serif;
    transition: 0.5s ease;
    user-select: none;
    line-height: 1.2;
}

.card-text{
    font-size: 33px;
    margin: 15px;
    align-items: center;
    display: flex;
}

.under-card-text{
    font-size: 20px;
    margin: 15px;
    color: #212121;
}

p{
    margin: 0;
}

.card-1:hover{
    scale: 1.05;
}


.card-title{
    font-family: "Shantell Sans", system-ui;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}


.icon-card-1{
    width: 40px;
    height: 40px;
    margin-right: 2px;
    filter: brightness(0);
}

.icon-card-2{
    width: 40px;
    height: 40px;
    margin-right: 2px;
    filter: brightness(0);
}

.icon-card-3{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: brightness(0);
}