.food-menu-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.menu-title-font {
    font-family: "Shantell Sans", system-ui;
    font-weight: 500;
    font-size: 40px;
}

/* =================== SLIDER WRAPPER & BUTTONS =================== */

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 40px; 
}

.slider-btn {
    background-color: #ff2f5f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%; 
    font-size: 24px;
    line-height: 1; 
    transition: background-color 0.3s, transform 0.1s;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(255, 47, 95, 0.4);
    margin: 0 40px; 
}

.slider-btn:hover {
    background-color: #ff4b75;
}

.slider-btn:active {
    transform: scale(0.95);
}

/* =================== COVER FLOW ЛОГІКА =================== */

.food-menu-slider {
    position: relative; 
    overflow: hidden; 
    
    display: flex;
    justify-content: center; 
    align-items: center;
    
    height: 350px; 
    width: 90%;
    max-width: 1100px; 
    margin: 0; 
    perspective: 1000px; 
}

.food-card {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%) scale(1); 
    opacity: 0; 
    pointer-events: none;
    
    border: 2px #ff4b75 solid;

    border-radius: 15px;
    width: 320px;
    height: 240px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-family: "Shantell Sans", system-ui;
    font-weight: 500;
    
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.food-card span {
    justify-content: space-between;
    margin-top: 10px;
    font-size: 20px;
}

.food-card-image {
    width: 260px;
    height: 150px;
    object-fit: cover;
    border-radius: 13px; 
    object-fit: contain;
}



/* АКТИВНА (ЦЕНТРАЛЬНА) Картка */
.food-card.active {
    opacity: 1; 
    z-index: 10;
    transform: translateY(-50%) translateZ(80px) scale(1.15) rotateY(0deg);
    pointer-events: auto; 
}

/* БІЧНІ (ПОПЕРЕДНЯ/НАСТУПНА) Картки */
.food-card.prev-card,
.food-card.next-card {
    opacity: 1;
    z-index: 5;
    pointer-events: none;
    left: 50%;
    margin-left: -160px; 
}

.food-card.prev-card {
    transform: translateY(-50%) translateX(-120%) scale(1); 
}

.food-card.next-card {
    transform: translateY(-50%) translateX(120%) scale(1);
}