.food-menu-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* показываем 3 карточки */
    gap: 20px;
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
    user-select: none;
}

/* Общий стиль карточек */
.food-card {
    background-color: white;
    width: 260px;
    height: 260px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Картинка внутри */
.food-card-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 12px;
}